html,
body {
    font-family: $font-primary !important;
    font-size: 1rem !important;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85) !important;
    line-height: normal !important;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#__nuxt,
#__layout {
    height: 100%;
    min-height: 100%;
}